body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 5vw;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.img{
    margin-left: 10vw;
}
