body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

button{
    margin-top: 10px;
}


